<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <title>{{TITLE}} · salyut.one Pinky</title>
</head>
<body>
    <main>
        <nav class="toplinks">
            <a href="/now">[Pinky Home]</a>
            <a href="/">[salyut.one]</a>
            <a href="/users">[User List]</a>
        </nav>
        {{CONTENT}}
        <hr>
        <footer class="footer">
            This is the output of <code>pinky -lb -- username</code>.
        </footer>
    </main>
</body>
</html>
