[Unit]
Description=salyut.one website
After=network.target

[Service]
Type=simple
User=salyut-web
Group=salyut-bbs
ExecStart=/usr/local/bin/salyut-site
WorkingDirectory=/usr/local/src/salyut-site
Restart=on-failure
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
